html {
  margin:0;
  background-color: gray;
}
body {
  margin:0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 800px;
  height: 1000px;
}
header {
  margin:0;
  width:100%;
  height: 100px;
}
.NavBar {
  width: 60%;
  height: 100%;
  margin:0;
  margin-left: auto;
  margin-right:auto;
  background-color:orange;
}
.NavList {
  width:100%;
  height:100%;
  list-style-type: none;
  margin:0;
  margin-left: -40px;
  text-align: center;
  font-family: "Futura";
}
.SmallTab {
  float:left;
  background-color: blue;
  height: 20px;
  width:20%;
  margin:0;
  margin-top:80px;
}
.LargeTab {
  float:left;
  background-color: white;
  height: 80px;
  width:20%;
  margin-top:10px;
  margin-bottom:10px;
}
.main {
  width: 100%;
  height: 80%;
  background-color: green;
}
footer {
  margin:0;
  width:100%;
  height: 100px;
  background-color: blue;
}
