html {
  margin:0;
  background-color: gray;
}
body {
  margin:0;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  width: 800px;
  height: 1000px;
}
header {
  margin:0;
  width:100%;
  height: 100px;
}
.NavBar {
  width: 60%;
  height: 100%;
  margin:0;
  margin-left: auto;
  margin-right:auto;
}
.NavList {
  width:100%;
  height:100%;
  list-style-type: none;
  margin:0;
  margin-left: -40px;
  text-align: center;
  font-family: "Futura";
  font-weight: lighter;
  color: #FFFFFF;
}
.SmallTab {
  float:left;
  padding-top:3px;
  padding-bottom:3px;
  width:20%;
  margin:0;
  margin-top:73px;
  letter-spacing: 1px;
}
.LargeTab {
  float:left;
  background-color: white;
  height: 80px;
  width:20%;
  margin-top:10px;
  margin-bottom:10px;
}
.main {
  width: 100%;
  height: 80%;
  background-color: green;
}
.content {
  background-color:yellow;
  border: 10px solid black;
  border-top: 10px solid white;
  height:90%;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}
footer {
  margin:0;
  width:100%;
  height: 100px;
  background-color: blue;
}
