html {
  margin:0;
  /*background-image: url("SmokeBackground.png");*/
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin:0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0);
  width: 800px;
  /*height: 1000px;*/
}
header {
  margin:0;
  width:100%;
  height: 100px;
}
.NavBar {
  width: 70%;
  height: 100%;
  margin:0;
  margin-left: auto;
  margin-right:auto;
}
.NavList {
  width:100%;
  height:100%;
  list-style-type: none;
  margin:0;
  margin-left: -40px;
  text-align: center;
  font-family: "Futura";
  font-weight: lighter;
  color: #000000;
}
.SmallTab {
  float:left;
  padding-top:3px;
  padding-bottom:3px;
  width:80px;
  margin-top:73px;
  letter-spacing: 1px;
  color:black;
  text-decoration:none;
}
.SmallTab:hover {
  /*border-bottom: 5px solid white;*/
  color: white;
  background-color: black;
}
.LargeTab {
  float:left;
  height: 70px;
  width:70px;
  margin-top:15px;
  margin-bottom:15px;
  border: 5px solid rgba(0,0,0,0);
}
.LargeTab:hover {
  border: 5px solid black;
}
.main {
  width: 100%;
  /*height: 800px;*/
}
.content {
  border: 20px solid rgba(0,0,0,0);
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  /*height:98.75%;*/
  width: 95%;
  margin-left:auto;
  margin-right:auto;
}
.contentBox {
  width:80%;
  height:745px;
  margin:auto;
  margin-top:45px;
}
.GalleryContentBox {
  width:800px;
  /*height:1000px;*/
  margin:auto;
  margin-top:45px;
}
.BoxList {
  margin:0;
  margin-left:-40px;
  list-style-type: none;
  color:white;
}
.Videos {
  float:left;
  width:265px;
  height:265px;
  background-color: black;
  margin:10px;
}
.News {
  float:right;
  width:303px;
  height:200px;
  background-color: black;
  margin:10px;
}
.Gallery {
  float:left;
  width:265px;
  height:265px;
  background-color: black;
  margin:10px;
}
.Music {
  float:right;
  width:303px;
  height:180px;
  background-color: black;
  margin:10px;
}
.About {
  float:right;
  width:303px;
  height:130px;
  margin:10px;
}
.AboutLeft {
  float:left;
  height:100%;
  width:70px;
  color:black;
}
.AboutRight {
  float:left;
  height:100%;
  width:233px;
  background-color: black;
}
.Shop {
  float:left;
  width:588px;
  height:110px;
  background-color: black;
  margin:10px;
}
footer {
  margin:0;
  width:100%;
  height: 100px;
  color: #000000;
}
.FooterLeft {
  width:50%;
  height:100%;
  float:left;
}
.BottomNavList {
  margin:0;
  list-style-type:none;
}
.BottomNavList li {
  text-align:center;
  padding-left:3px;
  padding-right:3px;
  float:left;
  font-family:"Futura";
  border-bottom:2px solid black;
  margin:5px;
  font-size:12px;
}
.BottomNavList a {
  color:black;
  text-decoration:none;
}
.FooterRight {
  float:left;
  width:50%;
  height:100%;
}
.SocMedIcons {
  list-style-type:none;
  margin:0;
  margin-left:-40px;
  margin-right:40px;
}
.SocMedIcons li {
  float:right;
}
.SocMedIcons img {
  height:20px;
  margin:5px;
  border-radius: 3px;
}
.ContentTitle {
  font-family: "Futura";
  font-weight:normal;
  font-size:18px;
  letter-spacing:2px;
  width:755px;
  padding:3px;
  border-bottom:3px solid black;
  margin:0;
  margin-bottom:10px;
  margin-top:-10px;
}
.GalleryList {
  margin:0;
  margin-left:-110px;
  margin-bottom:45px;
  width:900px;
  height:1800px;
  list-style-type:none;
}
.GalleryItem {
  float:left;
  width:300px;
  height:300px;
  background-color:black;
  color:white;
}
